.c{
    background-color:#8013ba;
}

.contact{
    width: 80%;
    height: 50vh;
    margin: auto;
    /* border: 1px solid black; */
}

.contact form{
    width: 75%;
    /* border: 2px solid yellow; */
    margin: auto;
}
.contact form input{
    width: 100%;
    border-radius: 4px;
}
.contact>h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: yellow;
    font-family: sans-serif;
    
}
.map{
    width: 60%;
    height: 70vh;
    margin: auto; 
    border-radius: 4px;
}
.map iframe{
    border-radius: 4px; 
}