.max_width{
    width: 80%;
    height: 80vh;
    margin: 30px auto;
    border: 1px solid black;
    display: flex;
}

.max_width>div{
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 50%;
}

.max_width>div:first-child{
    width: 30%;
    border: 2px solid blue;
}