/* .a{
    background-color: cadetblue;
} */

.max_width{
    width: 80%;
    margin:  auto;
    display: flex;
}

.max_width>div{
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 50%;
}

.max_width>div:first-child{
    width: 30%;
    border: 1px solid black;
    height: 86vh;
}
.max_width>div:last-child{
    width: 70%;
    border: 1px solid black;
}