.head {
    display: flex;
    width: 80%;
    height: 10vh;
    /* border: 1px solid black; */
    margin: auto;
}

.head>div {
    width: 50%;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.head>div:first-child {
    display: flex;
}

.head>div:last-child {
    display: flex;
}

.head>div:nth-child(2) {
    display: flex;
}

.search_div>input {
    font-size: 20px;
    outline: none;
    padding: 10px;
    color: blue;
    border: 1px solid black;
    margin:  10px;
    width:100%;
}

.search_div>img {
    cursor: pointer;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    width: 13%;
    height: 50px;
}
.category>h1{
 margin-top: 15px;
}
.category>select{
    width: 200px;
    /* border: 1px solid red; */
}
