
.top_btn{

    font-size: 2rem;
     display: flex;
     width: 4rem;
     height: 4rem;
     border: 1px solid black;
     align-items: center;
     justify-content: center;
     background-color: brown;
     border-radius: 50%;
   right: 2rem;
   bottom: 5rem;
   cursor: pointer;
   position: fixed;
  
  }