

.mains{
    
    height:auto ;
    width: 100%;
    margin-top:130px;
    
}

.drop_down_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.2rem;

}

.lower_nav{
    position: relative;
    display: flex;
    /* padding: 0 6rem; */
    justify-content: space-between;
    border: 1px solid black;
}

.p_tag:hover{
cursor:pointer;
color: aqua;
}

.banner>img{
    width:100%
}

.Mega_menu{
    display: flex;
    width: 80%;
    padding: 1rem;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Mega_menu_1{
    display: none;
}

.Mega_menu>div>p:hover{
  cursor: pointer;
  color: aqua;
}
.Mega_menu>div>h5{
    color: black;
}

.products{
    display: grid;
    width: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px auto;
}
.products>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 20px;
}

.products>div>img{
    width: 100%;
    height: 200px;
}


/* load button */
.Load_button{
    display: block;
    margin: auto;
    padding: 0.5rem ;
    margin-top: 5rem;
    font-size: large;
    border-width: 0.3rem;
    border-radius: 10px;
    border-color: black;
}

.products>div>h5{
    color: black;
    margin-top: 10px;
}
.products>div>p{
    margin-top: 10px;
}

@media all and (min-width:701px) and (max-width:1000px){

    .products{
        
        display: grid;
        
        grid-template-columns:  33% 33% 33%;
        
        }
        
    .products>div{
        padding: 20px;
    }
    
    .products>div>img{
        width: 100%;
        height: 200px;
    }

}

@media all and (min-width:500px) and (max-width:700px){
    
    .p_tag{
        display: none;
    }
    
.mains{
    height:auto ;
    width: 100%;
}


    .products{
        display: grid;
        width: 80%;
        grid-template-columns:  33% 33% 33%;
          align-items: center;
    justify-content: center;
        }

        .products>div{
            padding: 20px;
        }
        
        .products>div>img{
            width: 100%;
            height: 200px;
        }
    
        .banner>img{
            width:100%
        }


}

@media all and (min-width:320px) and (max-width:499px){

    
    .products{
        
        display: grid;
        width: 80%;
        grid-template-columns:  80%;
          align-items: center;
    justify-content: center;
        }
        .p_tag{
            display: none;
        }

}


